---
const { name, title, image, linkedin = "#" } = Astro.props;
---
<div class="single-team mb-30 text-center">
    <div class="team-img">
        <img src={image} alt={name}>
        <div class="team-caption">
            <h3><a href="#">{name}</a></h3>
            <p>{title}</p>
            <div class="team-social">
                <ul>
                    <li><a href={linkedin}><i class="fab fa-linkedin-in"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
